<div class="goTop" id="js-go_top">
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <g>
        <path d="M13 12v8h-2v-8H4l8-8 8 8z"></path>
      </g>
    </svg>
  </span>
</div>
