<%- partial('_partial/header',{name:'post'}) %>
<div class="post">
    <%- partial('_partial/post_head') %>
    <%- partial('_partial/post_content') %>
    <%- partial('_partial/post_paging') %>
</div>