@import (reference) "../public/_variables";
@import (reference) "../public/_mixins";

.tags {
  &-content {
    .content-style();
    &-data {
      display: flex;
      width: 100%;
      box-sizing: border-box;
      padding: @spacing-xxl 80px;
      font-size: 1rem;
      flex-wrap: wrap;
      transition: @transition-default;
      h2 {
        display: inline-block;
        width: 100%;
        margin-bottom: @spacing-xl;
        color: @color-text-tag;
        font-size: 1.7rem;
      }
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-right: 20px;
        & > span {
          background-color: @color-bg-tag-hover;
          line-height: 2.4;
          transition: all .15s;
          padding: 0 12px;
          margin-bottom: 15px;
          border-radius: @border-radius-md;
          position: relative;
          top: 0;
          color: @color-text-tag-alt;
          font-weight: 400;
          font-size: @font-size-base;
          &:hover {
            top: -2px;
            background-color: @color-bg-tag-active;
            color: @color-bg-white;
            .transition(all, 0.3s);
          }
          & > i {
            text-align: center;
            color: @color-danger;
            font-size: @font-size-md;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.respond-below(@breakpoint-sm, {
  .tags {
    &-content {
      &-data {
        padding: @spacing-xl 20px;
      }
    }
  }
});

.respond-below(@breakpoint-md, {
  .tags-content {
    &-data {
      padding: @spacing-xxl 50px;
    }
  }
});
