@import (reference) "../public/_variables";
@import (reference) "../public/_mixins";

.grouping-style() {
  display: flex;
  flex-direction: column;
  width: @max-width-grouping;
  padding: @spacing-xxl @spacing-xl;
  font-size: 1.1rem;
  transition: @transition-default;
  p {
    font-size: 1.55rem;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 20px;
  }
  a {
    display: flex;
    text-decoration: none;
    color: @color-text-heading;
    padding: 20px;
    span {
      flex-grow: 1;
    }
    time {
      white-space: nowrap;
    }
    &:hover {
      background: @color-bg-light;
      color: @color-link-hover;
      border-radius: @border-radius-md;
    }
  }
}

.grouping {
  .grouping-style();
}

.respond-below(@breakpoint-sm, {
  .grouping {
    width: 100%;
    max-width: 700px;
    padding: 50px 15px;
    font-size: 1rem;
    p {
      font-size: 1.50rem;
    }
    a {
      padding: 15px;
    }
  }
});
